@model IEnumerable<LoadBalancer.Logs.Web.Models.InstanceMetrics>

@{
    ViewData["Title"] = "Instance";
}

<div class="row">
    <div class="col">
        <h1>Metrics per instance</h1>
    </div>
    <div class="col">
        @Html.ActionLink("Metrics for all instances", "Index", null, new { @class = "btn btn-primary btn-xs" })
            </div>
    </div>

<div>
    @Html.ActionLink("Last 1h", "GetLastInstanceHours", new { hours = 1 }, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Last 24h", "GetLastInstanceHours", new { hours = 24 }, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Last 7 days", "GetLastInstanceDays", new { days = 7 }, new { @class = "btn btn-primary btn-xs" })
    @Html.ActionLink("Last 30 days", "GetLastInstanceDays", new { days = 30 }, new { @class = "btn btn-primary btn-xs" })

    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FromDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().FromDateTime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ToDateTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstOrDefault().ToDateTime)
        </dd>
    </dl>

    <hr />

</div>

<div>
    @foreach (LoadBalancer.Logs.Web.Models.InstanceMetrics item in Model)
    {
        <h4>@item.Instance.ToString() Metrics</h4>
        <hr />
        <dl class="row border">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.Instance)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.Instance)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.RequestCount)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.RequestCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.RequestPercentage)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.RequestPercentage)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.FiveHundredPercent)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.FiveHundredPercent)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.FiveHundredCount)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.FiveHundredCount)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.SuccessCount)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.SuccessCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.SuccessPercent)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.SuccessPercent)%
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.NotFoundCount)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.NotFoundCount)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => item.NotFoundPercent)
            </dt>
            <dd class="col-sm-4">
                @Html.DisplayFor(model => item.NotFoundPercent)%
            </dd>
        </dl>
    }
</div>
